title: Jarrett Vickers
description: Personal website and portfolio

collections:
  essays:
    output: true
    permalink: /essays/:name/

defaults:
  - scope:
      path: ""
      type: "pages"
    values:
      layout: "page"
  - scope:
      path: ""
      type: "essays"
    values:
      layout: "essay"
