<header>
    <div class="header-content">
        <h1>Jarrett Vickers</h1>
        <nav>
            <div class="nav-content">
                <ul class="nav-structure">
                    <li class="nav-item"><a href="{{ '/' | relative_url }}">HOME</a></li>
                    <li class="nav-item"><a href="{{ '/essays/' | relative_url }}">ESSAYS</a></li>
                    <li class="nav-item dropdown">
                        <a tabindex="0">CONTACT</a>
                        <ul class="dropdown-content">
                            <li><a href="mailto:jarrettvickers2@gmail.com" target="_blank" rel="noopener">Email</a></li>
                            <li><a href="https://github.com/JR-Vickers" target="_blank" rel="noopener">GitHub</a></li>
                            <li><a href="https://www.linkedin.com/in/jarrett-vickers-03579b205/" target="_blank" rel="noopener">LinkedIn</a></li>
                            <li><a href="https://x.com/0xJarrett" target="_blank" rel="noopener">X.com</a></li>
                            <li><a href="https://warpcast.com/jarrett" target="_blank" rel="noopener">Warpcast</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
