<header>
    <nav>
        <a href="/">home</a>
        <a href="/blog">blog</a>
        <a href="mailto:jarrettvickers2@gmail.com">email</a>
        <a href="https://github.com/JR-Vickers" target="_blank">github</a>
        <a href="https://x.com/0xJarrett" target="_blank">x.com</a>
        <a href="https://warpcast.com/jarrett" target="_blank">farcaster</a>
    </nav>
    <div class="header-content">
        <h1>jarrett vickers</h1>
        <p>technology enthusiast, hardware and software.</p>
    </div>
</header> 